@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");
// variables
$fontFamily: "Poppins", sans-serif;
$primaryColor: #25235b;
$secondaryColor: #ee666c; //rgb(238,102,108
$tertiaryColor: #69c5d7;
$black: #212529;
$lightGray: #f3f3f2;
$white: #fff;
$fontSize: 16px;
$transition: 0.5s ease;
$box-shadow: 0 0 20px gray;
/**********************
mixins
**********************/
@mixin btn {
  display: inline-block;
  margin-top: 5px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: $secondaryColor;
  transition: $transition;
  color: $white;
  text-decoration: none;
  &:hover {
    background: $black;
  }
}
@mixin line {
  margin-top: 10px;
  &::after {
    display: block;
    content: "";
    height: 2px;
    width: 50px;
    background: $secondaryColor;
    margin-top: 30px;
  }
}
/**********************
basics
**********************/
body {
  font-family: $fontFamily;
  font-size: $fontSize;
}
.headers {
  position: relative;
  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba($secondaryColor, 0.9);
    padding: 20px 40px;
    transform: translate(-50%, -50%);
    font-weight: 800;
    letter-spacing: 2px;
    color: $white;
  }
}
.education {
  .col-md-4 {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    .featuredImage {
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 2s linear;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    h2 {
      color: $primaryColor;
      margin-top: 20px;
    }
    p {
      text-align: justify;
    }
    .button {
      @include btn;
    }
  }
}
.blog {
  @extend .education;
  .meta {
    @include line;
  }
}
.single {
  .featuredImage {
    img {
      width: 100%;
    }
  }
  .meta {
    @include line;
  }
  h2 {
    color: $primaryColor;
    margin-top: 20px;
  }
  p {
    text-align: justify;
  }
  .widgets {
    padding: 30px;
    margin-bottom: 30px;
    background: $primaryColor;
    h3 {
      font-size: 1.8rem;
      color: $white;
      transition: $transition;
      &:hover {
        text-shadow: 0 0 6px $secondaryColor;
      }
    }
    a {
      text-decoration: none;
      color: $secondaryColor;
      background: $white;
      line-height: 2.5;
      padding: 5px;
      transition: $transition;
      &:hover {
        background: $secondaryColor;
        color: $black;
      }
    }
  }
}
/**********************
nav
**********************/
nav {
  background: transparent;
  margin-top: 20px;
  .navbar-brand {
    flex: 1;
    img {
      width: 50%;
      @media (max-width: 767px) {
        width: 40%;
      }
    }
  }
  .nav-link {
    text-transform: uppercase;
    text-align: right;
    color: $white;
    letter-spacing: 1px;
    transition: $transition;
    &:hover {
      text-shadow: 0 0 10px;
      color: $secondaryColor;
    }
  }
  .burgerMeni {
    color: $white;
  }
}
.stickyAdd {
  background: $primaryColor;
  box-shadow: 0 2px 10px 5px rgba($black, 0.5);
  transition: $transition;
  margin-top: 0;
}
/**********************
mainHeader
**********************/
.mainHeader {
  background: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)),
    url(img/header3.jpg);
  height: 60vh;
  @media (max-width: 767px) {
    height: 40vh;
  }
  background-position: center;
  background-size: cover;
}
/**********************
intro
**********************/
.intro {
  background: $primaryColor;
  margin-top: -100px;
  padding: 60px 70px 20px 70px;
  color: $white;
  h1 {
    font-size: 7rem;
    margin-top: -170px;
    font-weight: 800;
    text-shadow: 0 0 10px $secondaryColor;
    line-height: 1;
    @media (max-width: 767px) {
      font-size: 3rem;
    }
  }
  h3 {
    font-weight: 600;
    color: $secondaryColor;
    text-shadow: 0 0 1px $white;
    @media (max-width: 767px) {
      font-size: 1rem;
      margin-top: 20px;
    }
  }
}
/**********************
services
**********************/
.services {
  h3 {
    font-weight: 800;
  }
  .service1,
  .service4 {
    background: $secondaryColor;
    padding: 40px;
  }
  .service3,
  .service6 {
    background: $primaryColor;
    padding: 40px;
  }
  .service2,
  .service5 {
    background: $lightGray;
    padding: 40px;
  }
  .col-md-4:nth-child(2) {
    margin-top: 70px;
  }
  .col-md-4:nth-child(3) {
    margin-top: 140px;
  }
}
/**********************
about
**********************/
.about {
  background: url(img/bg3.jpg);
  background-position: center;
  background-size: cover;
  .carousel-caption {
    bottom: 15%;
    p {
      @media (max-width: 767px) {
        font-size: 0.75rem;
      }
    }
    @media (max-width: 767px) {
      bottom: 10%;
    }
  }
  h2 {
    font-size: 6rem;
    font-weight: 800;
    transform: rotate(270deg);
    margin-top: 150px;
    @media (max-width: 767px) {
      transform: rotate(0deg);
      margin-top: 30px;
    }
  }
}
/**********************
footer
**********************/
footer {
  padding: 100px 0;
  background-image: url(img/footer.jpg);
  background-position: center;
  background-size: cover;
  a {
    color: $black;
    font-size: 3rem;
    margin-right: 10px;
    transition-duration: 0.7s;
    &:hover {
      color: $white;
    }
    i {
      &:hover {
        animation: animacija 0.7s ease;
      }
    }
    @keyframes animacija {
      100% {
        transform: rotate(360deg);
      }
    }
  }
  img {
    @media (max-width: 767px) {
      width: 300px;
      margin-bottom: 20px;
    }
  }
}
/**********************
howDoWeWork
**********************/
.howDoWeWork {
  .col-md-4 {
    h2 {
      transform: rotate(270deg);
      font-size: 6rem;
      font-weight: 800;
      line-height: 1;
    }
    p {
      margin-top: 50px;
    }
  }
  .col-md-8 {
    h2 {
      font-weight: 800;
    }
    hr {
      background: $secondaryColor;
      border: none;
      height: 2px;
      margin: 30px 0;
    }
  }
}
